.djangoPinterest_logo {
    font-family: 'Lobster', cursive;
}

.djangoPinterest_footer_button {
    font-size: .9rem;
}

.djangoPinterest_footer {
    text-align: center;
    margin-top: 2rem;
}

.djangoPinterest_header {
    text-align: center;
    margin: 2rem 0;
}